* text=auto !eol
/CMakeLists.txt -text
/CMakeLists.txt.in -text
build/bootstrap.bat -text
buildGCC/bootstrap.sh -text
doc/BudgetEstimateGridGeomInC++.xlsx -text
doc/ProjectplanGridGeomInC++_v00.docx -text
doc/gridgeomInC++.ppt -text
doc/gridgeomStructure.tif -text
src/CartesianPoint.cpp -text
src/Constants.cpp -text
src/Entities.cpp -text
src/Mesh.cpp -text
src/Operations.cpp -text
src/UnitTests.cpp -text
src/main.cpp -text
src/tests/GridGeomTest.cpp -text
src/tests/GridGeomTest.hpp -text
