* text=auto !eol
/CMakeLists.txt -text
/CMakeLists.txt.in -text
/COPYING -text
build/bootstrap.bat -text
doc/GridEditorClassDiagram.cd -text
doc/GridEditorClassDiagram.tif -text
doc/GridgeomTechnicalDesignDocument.docx -text
doc/gridgeomC++.uxf -text
doc/gridgeomInC++.ppt -text
src/Constants.cpp -text
src/CurvilinearGrid.hpp -text
src/CurvilinearGridFromSplines.cpp -text
src/CurvilinearGridFromSplines.hpp -text
src/CurvilinearParametersNative.hpp -text
src/Entities.hpp -text
src/GeometryListNative.hpp -text
src/Gridgeom.cpp -text
src/Gridgeom.hpp -text
src/InterpolationParametersNative.hpp -text
src/LandBoundaries.cpp -text
src/LandBoundaries.hpp -text
src/MakeGridParametersNative.hpp -text
src/Mesh.cpp -text
src/Mesh.hpp -text
src/MeshGeometry.hpp -text
src/MeshGeometryDimensions.hpp -text
src/MeshRefinement.cpp -text
src/MeshRefinement.hpp -text
src/Operations.cpp -text
src/OrthogonalizationAndSmoothing.cpp -text
src/OrthogonalizationAndSmoothing.hpp -text
src/OrthogonalizationParametersNative.hpp -text
src/Orthogonalizer.cpp -text
src/Orthogonalizer.hpp -text
src/Polygons.cpp -text
src/Polygons.hpp -text
src/SampleRefineParametersNative.hpp -text
src/Smoother.cpp -text
src/Smoother.hpp -text
src/SpatialTrees.hpp -text
src/Splines.cpp -text
src/Splines.hpp -text
src/SplinesToCurvilinearParametersNative.hpp -text
src/gridgeomStateful_dll_version.h.svn -text
src/gridgeomStateful_dll_version.rc.svn -text
src/resource.h -text
src/tests/CurvilinearGridFromSplinesTest.cpp -text
src/tests/FunctionsTest.cpp -text
src/tests/GridGeomTest.hpp -text
src/tests/LandBoundaryTest.cpp -text
src/tests/MakeMeshes.cpp -text
src/tests/MeshRefinementTest.cpp -text
src/tests/MeshTest.cpp -text
src/tests/OrthogonalizationTest.cpp -text
src/tests/PolygonTest.cpp -text
src/tests/SpatialTreesTest.cpp -text
src/tests/SplineTest.cpp -text
src/version_number.ini -text
tests/2SplinesCurved.spl -text
tests/FindFaces.pol -text
tests/FourSplines.spl -text
tests/MakeMeshInPolygon.pol -text
tests/MeshRefinementTests/FourByFourWithFourSamples.nc -text
tests/MeshRefinementTests/FourByFourWithFourSamples.xyz -text
tests/MeshRefinementTests/RefineBasedOnPolygonThreeByThree.pol -text
tests/MeshRefinementTests/RefineBasedOnPolygonTriangularMesh.pol -text
tests/MeshRefinementTests/SamplesForMeshRefinement.xyz -text
tests/MeshRefinementTests/SamplesForRefinementFourByFourMeshSpherical.xyz -text
tests/MeshRefinementTests/SevenBySevenBasedOnLevels.nc -text
tests/MeshRefinementTests/SevenBySevenBasedOnLevels.xyz -text
tests/MeshRefinementTests/SmallTriangularMeshSamplesForRefinement.xyz -text
tests/MeshRefinementTests/ThreeByThreeOnLevels.nc -text
tests/MeshRefinementTests/ThreeByThreeOnLevels.xyz -text
tests/MeshRefinementTests/WindowOfRefinementFile.xyz -text
tests/OffsetAPolygonTest.pli -text
tests/OrthogonalCurvilinearMeshTwoCrossings.spl -text
tests/OrthogonalizationSmallTriangularGridWithPolygon.pol -text
tests/SamplesToTriangulate.xyz -text
tests/SevenSplines.spl -text
tests/SmallTriangularGrid_net.nc -text
tests/SmallTriangularGrid_oneCrossingLandBoundaries.ldb -text
tests/SmallTriangularGrid_twoCrossingLandBoundaries.ldb -text
tests/TestOrthogonalizationLargeTriangularGrid_net.nc -text
tests/TestOrthogonalizationMediumTriangularGrid_net.nc -text
tests/TestOrthogonalizationSmallTriangularGrid_landBoundary.ldb -text
tests/ThreeNodesSpline.spl -text
thirdParty/CMakeLists.txt -text
thirdParty/scripts_lgpl/win32/update_version.cmd -text
thirdParty/third_party_open/subversion/bin/win32-17/MSVCP100.DLL -text
thirdParty/third_party_open/subversion/bin/win32-17/MSVCR100.DLL -text
thirdParty/third_party_open/subversion/bin/win32-17/apr_ldap-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/changelog.txt -text
thirdParty/third_party_open/subversion/bin/win32-17/diff.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/diff3.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/diff4.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/iconv/svn-book.pdf -text
thirdParty/third_party_open/subversion/bin/win32-17/libapr-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libapriconv-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libaprutil-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libeay32.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsasl.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_client-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_delta-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_diff-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_fs-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_ra-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_repos-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_subr-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvn_wc-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/libsvnjavahl-1.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/license/APR_and_Serf.license -text
thirdParty/third_party_open/subversion/bin/win32-17/license/CyrusSASL.license -text
thirdParty/third_party_open/subversion/bin/win32-17/license/Neon.license -text
thirdParty/third_party_open/subversion/bin/win32-17/license/OpenSSL.license -text
thirdParty/third_party_open/subversion/bin/win32-17/license/Subversion.license -text
thirdParty/third_party_open/subversion/bin/win32-17/saslANONYMOUS.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/saslCRAMMD5.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/saslDIGESTMD5.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/saslLOGIN.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/saslNTLM.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/saslPLAIN.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/ssleay32.dll -text
thirdParty/third_party_open/subversion/bin/win32-17/svn-populate-node-origins-index.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svn-rep-sharing-stats.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svn.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnadmin.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnauthz-validate.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svndumpfilter.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnlook.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnmucc.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnrdump.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnserve.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnsync.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/svnversion.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/uninst.exe -text
thirdParty/third_party_open/subversion/bin/win32-17/zlib1.dll -text
thirdParty/third_party_open/subversion/bin/win32/MSVCP100.DLL -text
thirdParty/third_party_open/subversion/bin/win32/MSVCR100.DLL -text
thirdParty/third_party_open/subversion/bin/win32/apr_ldap-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/changelog.txt -text
thirdParty/third_party_open/subversion/bin/win32/diff.exe -text
thirdParty/third_party_open/subversion/bin/win32/diff3.exe -text
thirdParty/third_party_open/subversion/bin/win32/diff4.exe -text
thirdParty/third_party_open/subversion/bin/win32/iconv/svn-book.pdf -text
thirdParty/third_party_open/subversion/bin/win32/libapr-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libapriconv-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libaprutil-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libeay32.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsasl.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_client-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_delta-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_diff-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_fs-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_ra-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_repos-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_subr-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvn_wc-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/libsvnjavahl-1.dll -text
thirdParty/third_party_open/subversion/bin/win32/license/APR_and_Serf.license -text
thirdParty/third_party_open/subversion/bin/win32/license/CyrusSASL.license -text
thirdParty/third_party_open/subversion/bin/win32/license/Neon.license -text
thirdParty/third_party_open/subversion/bin/win32/license/OpenSSL.license -text
thirdParty/third_party_open/subversion/bin/win32/license/Subversion.license -text
thirdParty/third_party_open/subversion/bin/win32/saslANONYMOUS.dll -text
thirdParty/third_party_open/subversion/bin/win32/saslCRAMMD5.dll -text
thirdParty/third_party_open/subversion/bin/win32/saslDIGESTMD5.dll -text
thirdParty/third_party_open/subversion/bin/win32/saslLOGIN.dll -text
thirdParty/third_party_open/subversion/bin/win32/saslNTLM.dll -text
thirdParty/third_party_open/subversion/bin/win32/saslPLAIN.dll -text
thirdParty/third_party_open/subversion/bin/win32/ssleay32.dll -text
thirdParty/third_party_open/subversion/bin/win32/svn-populate-node-origins-index.exe -text
thirdParty/third_party_open/subversion/bin/win32/svn-rep-sharing-stats.exe -text
thirdParty/third_party_open/subversion/bin/win32/svn.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnadmin.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnauthz-validate.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnauthz.exe -text
thirdParty/third_party_open/subversion/bin/win32/svndumpfilter.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnlook.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnmucc.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnraisetreeconflict.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnrdump.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnserve.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnsync.exe -text
thirdParty/third_party_open/subversion/bin/win32/svnversion.exe -text
thirdParty/third_party_open/subversion/bin/win32/uninst.exe -text
thirdParty/third_party_open/subversion/bin/win32/zlib1.dll -text
thirdParty/third_party_open/subversion/subversion_license_info.txt -text
thirdParty/third_party_open/version_number/Makefile.am -text
thirdParty/third_party_open/version_number/Subversion_license_info.txt -text
thirdParty/third_party_open/version_number/bin/win32/version_number.exe -text
thirdParty/third_party_open/version_number/bin/win32/version_number.ini -text
thirdParty/third_party_open/version_number/packages/Makefile.am -text
thirdParty/third_party_open/version_number/packages/version_number/Makefile.am -text
thirdParty/third_party_open/version_number/packages/version_number/src/Makefile.am -text
thirdParty/third_party_open/version_number/packages/version_number/src/version_number.f90 -text
thirdParty/third_party_open/version_number/packages/version_number/version_number.vfproj -text
thirdParty/third_party_open/version_number/version_number.sln -text
thirdParty/third_party_open/version_number/version_number_2010.sln -text
thirdParty/triangle/CMakeLists.txt -text
thirdParty/triangle/src/TriangleFacade.c -text
thirdParty/triangle/src/triangle.c -text
thirdParty/triangle/src/triangle.h -text
