<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='meshkernel' Id='c96503ef-bd13-4c4c-863a-2daa93d48aab' UpgradeCode='bb3bb63a-1887-4094-ab68-046240b888c8' Language='1033' Codepage='1252' Version='3.16.5' Manufacturer='Deltares'>

    <Package Id='*' Keywords='Installer' Description="meshkernel, Windows installer created by Deltares" Comments='Deltares copyright?' Manufacturer='Deltares' InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="meshkernel Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>

      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='MeshKernel'>

          <Component Id='cId_readme.txt1158be' Guid='1158be48-ddf7-4b11-9215-234b04485da9'>
            <File Id='fId_readme.txt1158be' Name='readme.txt' DiskId='1' Source='package\msi\meshkernel\readme.txt' KeyPath='yes' />
          </Component>

          <Directory Id="dirAFF7B92993BC1C2E79077C8C0DB42FFC" Name="bin">
            <Component Id="cmp81DF6E3D34F87B447F05F2A216D7690C" Guid="A8A3F3B5-8C62-4461-8D1F-8A437C6B1E8D">
              <File Id="filA10DFA2B3AF2FFCB40CD2DA25C988872" KeyPath="yes" Source="meshkernel\bin\MeshKernelApi.dll" />
            </Component>
          </Directory>
          <Directory Id="dirE943AC7232806A4D114801E13C414E20" Name="include">
            <Directory Id="dirC3716D0E73E3661576B03972C88598CE" Name="MeshKernel">
              <Component Id="cmp6D37E0BC9BC7EC792FABCDAA5ED8DFD8" Guid="4FE7E1BA-5C1C-4708-92EA-386FD33D0BFE">
                <File Id="filC126EE1ADBD2FDC30CF63EED85D0A2DC" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingInterpolation.hpp" />
              </Component>
              <Component Id="cmpC4BA1E9CEE4A56AEB48DFD855DBF0E9A" Guid="D22B24DD-7505-46EB-B41C-72F75ED0EF57">
                <File Id="fil36A9668274FA4F0C9DFE2BAD8970D08F" KeyPath="yes" Source="meshkernel\include\MeshKernel\BilinearInterpolationOnGriddedSamples.hpp" />
              </Component>
              <Component Id="cmp05A162193F10DE931414C1A8C82124D5" Guid="1659C328-6F2D-48B5-90F3-0B606641F1AE">
                <File Id="fil7C8B287D6FB3D70EE62AB5EC1E9C18BD" KeyPath="yes" Source="meshkernel\include\MeshKernel\BoundingBox.hpp" />
              </Component>
              <Component Id="cmpF5C48B4CAE9BDBBD8064F9A7F2F75820" Guid="4F9F6B27-8E8C-4F63-AB06-08AF64F1613C">
                <File Id="fil60D73C9F613945DB0A4FDBB9AE0D54B5" KeyPath="yes" Source="meshkernel\include\MeshKernel\ConnectMeshes.hpp" />
              </Component>
              <Component Id="cmpD1586C8C11BD943EA86A8378C60C12C8" Guid="6104C948-1203-46D6-98E6-BA788CC10B8B">
                <File Id="filE461D2CB3EE482DEF816E58198773900" KeyPath="yes" Source="meshkernel\include\MeshKernel\Constants.hpp" />
              </Component>
              <Component Id="cmp727B8FD2452677AC9B3DE9E23FA36EF5" Guid="049DC027-71B2-4730-8904-EA327E34DC6E">
                <File Id="fil4D682A27043980C7D9A144F6F90F4DE7" KeyPath="yes" Source="meshkernel\include\MeshKernel\Contacts.hpp" />
              </Component>
              <Component Id="cmpD756AE078D842F38995ABCE61203E677" Guid="4ADB9566-CF3C-4C04-A504-29BF59778679">
                <File Id="fil00E2E6D8F650EEBD54566562448DE852" KeyPath="yes" Source="meshkernel\include\MeshKernel\Definitions.hpp" />
              </Component>
              <Component Id="cmpDE878AC6CA9D2DBB32C3C71259CC29C6" Guid="A0EC27F0-69F1-44F0-9963-396FAF0C1796">
                <File Id="fil17BB3501D0879B13977DDD9A3F71FF86" KeyPath="yes" Source="meshkernel\include\MeshKernel\Entities.hpp" />
              </Component>
              <Component Id="cmp0D6640CD583376AEC71C23B90A3D4791" Guid="55897407-0A80-446D-BFF4-E1BAD2843B34">
                <File Id="fil97C19D0B6075A46E6F328B079710E29D" KeyPath="yes" Source="meshkernel\include\MeshKernel\Exceptions.hpp" />
              </Component>
              <Component Id="cmp7C3C32B14C595F4ECEEF0F6DBDE2DBE5" Guid="DFD4C17A-13A7-4D33-BEE0-6A50059C5065">
                <File Id="fil1D0571F27D1265E1674931EE84C876A7" KeyPath="yes" Source="meshkernel\include\MeshKernel\FlipEdges.hpp" />
              </Component>
              <Component Id="cmp04299DE8D359B514022B89B1B60A3095" Guid="4F844E71-6B5D-41E5-A868-C2929C2B1A50">
                <File Id="fil261D92DDB95FA42EEC57953A5B52D7CB" KeyPath="yes" Source="meshkernel\include\MeshKernel\Formatting.hpp" />
              </Component>
              <Component Id="cmp208659C053D064D43802E1CC07474E47" Guid="8193C238-9B84-4543-B3A2-EE177BB02171">
                <File Id="fil0422AF4DAC80B9DD2AA765207B7C8E13" KeyPath="yes" Source="meshkernel\include\MeshKernel\Hessian.hpp" />
              </Component>
              <Component Id="cmp50FB6B27D2E7A58E754701BAC5017152" Guid="E57BE2E7-ABD2-4893-8C22-8689DAE3034A">
                <File Id="fil15CCA84065D78B44D2662B9694B9ED82" KeyPath="yes" Source="meshkernel\include\MeshKernel\LandBoundaries.hpp" />
              </Component>
              <Component Id="cmp135DC8E883798E8EDF4098CAF954D66E" Guid="BB840D39-C9A3-42F3-BB55-9E7EA7F81257">
                <File Id="fil4982AAABC0B893F93494DA127E3638E0" KeyPath="yes" Source="meshkernel\include\MeshKernel\LandBoundary.hpp" />
              </Component>
              <Component Id="cmp8CA0C6EA6F2236AC6E543EE70B7F8916" Guid="56D1018B-B53F-4ABE-82BA-6F7B27832F39">
                <File Id="fil9980BA21780E702FDBB91CE99A77AF21" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh.hpp" />
              </Component>
              <Component Id="cmp9F29F612122A49F5DB702ADA4701133A" Guid="6C450202-31AC-496D-8FBA-C5D7C945A034">
                <File Id="filC45EF8E09F7A8C7C3C6937F515CD883F" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh1D.hpp" />
              </Component>
              <Component Id="cmp8171E1B15DE98190DB1B5661B9EB7178" Guid="1656C8CB-B998-49BA-AA9A-8CC8EF3F28DE">
                <File Id="fil281FB6D869B8EB19E292393E6D8C0829" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh2D.hpp" />
              </Component>
              <Component Id="cmp4FC4E33C8C298CA68D5408A806006A70" Guid="29C9B3AD-5E7B-4A35-A214-08832D0C0B2F">
                <File Id="fil5B686309969C5979855001524292A2B0" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh2DGenerateGlobal.hpp" />
              </Component>
              <Component Id="cmp8D927B13775357E446F130DF7136F243" Guid="DFEFD501-4B1E-4941-983D-66B090CD5A51">
                <File Id="fil044D051C816D252CD193F2670F564602" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh2DIntersections.hpp" />
              </Component>
              <Component Id="cmp3745A3CBF28C3C4A2A051F55F235EB82" Guid="E804A41F-B4F5-4DED-9396-AA118EA79646">
                <File Id="fil559BDDBC194A7F80676BB4A9F2695436" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshConversion.hpp" />
              </Component>
              <Component Id="cmp272DE54FA9A6D13E33510CE565787E12" Guid="71096431-CDF4-4E46-8D9C-4F29934FADC1">
                <File Id="fil1C139FFFBE618344C61C37F26C19F536" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshInterpolation.hpp" />
              </Component>
              <Component Id="cmp0CC0A4F80A5F7A4C91C0E8E5E264AB76" Guid="856CEBA6-DFA6-4EB9-AB35-55B2DFFD014C">
                <File Id="filD652BC29776C6C60078E023DDF834BD8" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshRefinement.hpp" />
              </Component>
              <Component Id="cmpE62F3486005A907A7FA478124C2C81CF" Guid="D038721A-6543-41D4-9CD7-86A8A29F939E">
                <File Id="fil8F7D74E5E3706A88FBF753DBE3250E3A" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshTransformation.hpp" />
              </Component>
              <Component Id="cmp751BBBAD16A795D03B1EC4C401B8DF52" Guid="918081BF-84BA-4E98-8AF5-FD3D873F3C3A">
                <File Id="fil9904EC56ABA1C528673084E68339C938" KeyPath="yes" Source="meshkernel\include\MeshKernel\Network1D.hpp" />
              </Component>
              <Component Id="cmp76F7C68519E35827B771E19B146F8BC2" Guid="8A127023-3193-47BB-877F-2CE29D5088F2">
                <File Id="fil0D284C21DEB57789F584ABA703A7E8D2" KeyPath="yes" Source="meshkernel\include\MeshKernel\Operations.hpp" />
              </Component>
              <Component Id="cmp165D5AC63E262A3749203997BB7DB4D3" Guid="8142DF32-FE70-435B-A704-FC1D21524248">
                <File Id="filD5365F617DB5E6B47B698DB4AB82CBE1" KeyPath="yes" Source="meshkernel\include\MeshKernel\OrthogonalizationAndSmoothing.hpp" />
              </Component>
              <Component Id="cmpDAD5E85CBBEEA9C855712D6FEC0A0A90" Guid="38261FC4-2643-470A-9769-369D311F453B">
                <File Id="filBF55F7718A6687DD34D46CE11A323698" KeyPath="yes" Source="meshkernel\include\MeshKernel\Orthogonalizer.hpp" />
              </Component>
              <Component Id="cmp47F2A6275B46DF84758CF9CABF84DCA8" Guid="851E2ED0-7269-42D0-8170-F82D412F6EEE">
                <File Id="fil803BF14058094DB040BA9D141850CD34" KeyPath="yes" Source="meshkernel\include\MeshKernel\Parameters.hpp" />
              </Component>
              <Component Id="cmp96AAB0BC2C9800D8F4B2D698330440A1" Guid="0F517AF5-D994-4A23-925A-6DC6761AB4C2">
                <File Id="fil6CB069BCF170B12EAA2C46CBB84D836F" KeyPath="yes" Source="meshkernel\include\MeshKernel\Point.hpp" />
              </Component>
              <Component Id="cmp09A2A1623902421B76EC4536EA3672BE" Guid="28F5A22E-F6FF-46D9-8116-84580DA74493">
                <File Id="filA0A978CC081B1F55E0E4377B84636842" KeyPath="yes" Source="meshkernel\include\MeshKernel\Polygon.hpp" />
              </Component>
              <Component Id="cmpD179E447E5900BDB18586F2ABD567DA4" Guid="E06B4535-ABB9-44BF-8D2C-7A5AC8F77C30">
                <File Id="fil40B9A06643F1F422A5E2BFBC30CF6604" KeyPath="yes" Source="meshkernel\include\MeshKernel\PolygonalEnclosure.hpp" />
              </Component>
              <Component Id="cmp5D210BFC83AE854D64A567DE4E9CD0D1" Guid="4C5C7388-2F0C-468C-BE50-2E4EEF3B4A49">
                <File Id="fil5AFE9867303AB8575BC7FB968F92B99F" KeyPath="yes" Source="meshkernel\include\MeshKernel\Polygons.hpp" />
              </Component>
              <Component Id="cmpA7BCD45504572382BE2C99536BC9B1C9" Guid="9F375608-2FEC-4AB0-9577-5EAC022BC867">
                <File Id="fil6E59EE4A5174229BA5AF46FBD602F525" KeyPath="yes" Source="meshkernel\include\MeshKernel\ProjectionConversions.hpp" />
              </Component>
              <Component Id="cmpCBD3DA937C803D324EDBDC4C70EC9FBA" Guid="F835B62C-7AC8-468D-928B-B4D6E9AC5C26">
                <File Id="fil9C07D0A0A073BF4EFB022F18E872D3D5" KeyPath="yes" Source="meshkernel\include\MeshKernel\RangeCheck.hpp" />
              </Component>
              <Component Id="cmp968958EB495FEC0A9B92C022AAD0F0EE" Guid="792CD185-8073-4222-9C76-2F70B5328C90">
                <File Id="filE6593284B3789E67844924EB42CEA5EA" KeyPath="yes" Source="meshkernel\include\MeshKernel\RemoveDisconnectedRegions.hpp" />
              </Component>
              <Component Id="cmp14652C3D3C50C49F6B0250A20E0E6121" Guid="02EAEE88-EFA7-4F3F-BA61-42FEC28911B9">
                <File Id="fil52076E276B3430EBA48EDE7B69A7681D" KeyPath="yes" Source="meshkernel\include\MeshKernel\SamplesHessianCalculator.hpp" />
              </Component>
              <Component Id="cmp859289C33FDAF2BC42FD39831A54256A" Guid="3D11F4E5-EA41-421A-A94B-FACD177A032E">
                <File Id="filE0A09DE706479D2DB0AE7BCA7D7DB8DC" KeyPath="yes" Source="meshkernel\include\MeshKernel\Smoother.hpp" />
              </Component>
              <Component Id="cmp588CA4E1B7FC2C374382872304D2F31E" Guid="EA3C3116-8AC7-41E1-9C15-FF01F350198F">
                <File Id="fil6453B87D03E2867981AAB2E3D2505475" KeyPath="yes" Source="meshkernel\include\MeshKernel\SplineAlgorithms.hpp" />
              </Component>
              <Component Id="cmpAFA60AFDAD9134C6C6EF902090D5E6AA" Guid="C42F380B-11BF-4469-A3EA-CF74582F3E94">
                <File Id="fil1EC43F001702D88E3B7FC520C04E0A5E" KeyPath="yes" Source="meshkernel\include\MeshKernel\Splines.hpp" />
              </Component>
              <Component Id="cmp110BB5C53AF5A12D1E107B8DCC97FC75" Guid="D80BFE92-E8CC-42BC-A028-83DFC4705D46">
                <File Id="filC6D4D4BD3B6C82D36A234750CFC70A31" KeyPath="yes" Source="meshkernel\include\MeshKernel\TriangulationInterpolation.hpp" />
              </Component>
              <Component Id="cmp790594B37A11BAECAA65167C28C8D7F2" Guid="65EAC62B-767F-480D-A562-F24B142186ED">
                <File Id="fil51EB555B71844565F504674972F86742" KeyPath="yes" Source="meshkernel\include\MeshKernel\TriangulationWrapper.hpp" />
              </Component>
              <Component Id="cmpB1DCE6A550D5048340D5D4DBD06BABDB" Guid="C0008CB2-A844-4F8E-8E54-599D1B9AD5D3">
                <File Id="fil6DD0A6B5A7ACF0BCA423769212A162EF" KeyPath="yes" Source="meshkernel\include\MeshKernel\Vector.hpp" />
              </Component>
              <Directory Id="dir020FC73980F00091CBFF0802933DBD71" Name="AveragingStrategies">
                <Component Id="cmpF1A6E54ED5FB430B1B8317676C102096" Guid="D30FC50D-B55D-429D-84D6-7C8A6269C311">
                  <File Id="fil04AE53B03C25E21A2DD5187B09A3AF0C" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\AveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp75A8BC5AF9DACE360B12C92FB8F44D07" Guid="323902FD-3DAC-442E-BD31-652CEE4AFDD4">
                  <File Id="fil588030F1E8A510CC3EFE90000821129E" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\AveragingStrategyFactory.hpp" />
                </Component>
                <Component Id="cmpD91F18E1A4DFCA1016A6859EC056CA28" Guid="C5B763D7-2AEE-4F1A-860E-17B8D3FF3580">
                  <File Id="filF3BA41A093F295603A7F957A4A496216" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\ClosestAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpAD1AD9563A21C64FE98D20B69737B321" Guid="E8530F4C-5ACF-43CF-9EA2-90CB8120436E">
                  <File Id="filE02EE69D3047514C4730A8A09A591BB2" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\InverseWeightedAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpD93DF18D278AB78A151D47E93C1064C3" Guid="C373209D-895E-48E8-881D-2C56933B147D">
                  <File Id="filF7F698DB45FFC6910155A12A5B78BDA1" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MaxAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpBE4323DAEF6CC9C63D5ABDAFC4B69B34" Guid="6C13ACE1-810C-4964-BFAB-68CE85FFD03B">
                  <File Id="fil6322756E8349CB323D1363DE4433C248" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MinAbsAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp4BAEBCA980E5179EE32098CDDEC9C76B" Guid="F93CABC2-31A1-44A2-BB3A-F69104BF8AD8">
                  <File Id="filD2221E4620890F4B7C62D10D016605E2" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MinAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp1283553E9E9113F139F72193F1E069E9" Guid="C174149C-BFBF-4082-A6BE-977CC175A736">
                  <File Id="filFD9DD287961DBDA665E21806B20CA806" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\SimpleAveragingStrategy.hpp" />
                </Component>
              </Directory>
              <Directory Id="dirE7348B2688014EFC4C4CC79ACF85E7DF" Name="CurvilinearGrid">
                <Component Id="cmpF13531B41E957ABE1B673FE5C5C154E1" Guid="CA2CCEFE-0614-449D-AE6A-968064656276">
                  <File Id="filCA1EE76BEC0F9F62808F05AC9ACB345B" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGrid.hpp" />
                </Component>
                <Component Id="cmpAD9704F153A4E555763A3A3D0DC95847" Guid="FE741F7F-9DD0-47D8-BDEC-8E48FDA19286">
                  <File Id="fil08028E1FB92C19C90E5719DE028E8F5C" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridAlgorithm.hpp" />
                </Component>
                <Component Id="cmp220939C9B91BCF986C6B1E446238EDF8" Guid="CA86D91E-98CC-4558-ABD6-9AA645F49D47">
                  <File Id="filA387B380031350E1937794BA4E6AE864" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridCurvature.hpp" />
                </Component>
                <Component Id="cmp09410FBE16D1C476C49D2017B1DC9CBB" Guid="528BBACC-FC45-4683-AD0A-64F7D04743AE">
                  <File Id="filCAC3C2964E8025C11ED912243FB2E0FA" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridDeleteExterior.hpp" />
                </Component>
                <Component Id="cmp7B87CF8035EF5C0FE14456C3B528E115" Guid="861FF375-E6A7-4309-BE61-9CEC9BBF7152">
                  <File Id="fil1F2AAEC1AD7DA8F16FC81E9B1B631C20" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridDeleteInterior.hpp" />
                </Component>
                <Component Id="cmp93E048F5039D65EAD9375E34C43169E8" Guid="D835BE07-AFA9-440C-9225-7EEDF80DAB3D">
                  <File Id="fil4BFEA20DBF1F2F47AF4EAC1507996DFA" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridDeRefinement.hpp" />
                </Component>
                <Component Id="cmpD0288A2C69EA808CF28EACC1D676A511" Guid="16E613A4-1BA9-456C-823E-2E38EFED2869">
                  <File Id="fil368286BACABC88F4A9425E740CEDD53D" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromPolygon.hpp" />
                </Component>
                <Component Id="cmp1F788E60119F70594CEEDFEB4C40026A" Guid="A6D1908F-21DD-4BD3-AE2F-E0531FA68D19">
                  <File Id="fil0A521B87ED58E91AF4ADF5DC5C5BBC47" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromSplines.hpp" />
                </Component>
                <Component Id="cmp00D909AF7B82E42884C972A14AADC232" Guid="319C550B-15E4-495A-873C-122D0D6C02FE">
                  <File Id="fil34E05C033AEACB67AE97CF4976909C1E" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromSplinesTransfinite.hpp" />
                </Component>
                <Component Id="cmpDF923B28A4831D1A71B1F625DA25CBFD" Guid="212804EB-2A62-40FF-9061-9EA845D7D881">
                  <File Id="fil41E395AB9050B80FF9F424006FC1AAD5" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLine.hpp" />
                </Component>
                <Component Id="cmp84C03E75861C9E6E28E46E286FBEE5F8" Guid="EEEB5042-70BB-4A4D-95EA-E300E8E2F10A">
                  <File Id="fil9F87174BD1C0E0F1BC04E3DFCF031D30" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineAttractionRepulsion.hpp" />
                </Component>
                <Component Id="cmpEE8F8E45ABB6942BF1EEF6AF4E6E8063" Guid="69105DE0-6383-4470-877C-CEE531413B2C">
                  <File Id="fil54A4CD0BCE40237A21F3B231AA801635" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineMirror.hpp" />
                </Component>
                <Component Id="cmp2B8E06C5871D5A2E807B616A6979825B" Guid="18C4B3D6-6001-4E7E-BEF3-3BCEDB7AA418">
                  <File Id="fil8433F35F51542432B26C6D9B329A7545" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineShift.hpp" />
                </Component>
                <Component Id="cmpCCBA2EF5B96EB6C6B029ADB1BE0C1E8F" Guid="F94DDB7E-C392-404A-B015-FC912BCF4571">
                  <File Id="fil8C118233E5647424036C2F952A5E4178" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridNodeIndices.hpp" />
                </Component>
                <Component Id="cmp865AD5CACB3EE3D263084553CFD0D645" Guid="1CDABFFB-6E6C-4BAB-84F0-F45B42435F06">
                  <File Id="fil6A13FB390A40EF9FE7DE9BCAAE2DE94D" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridOrthogonalization.hpp" />
                </Component>
                <Component Id="cmp714E8F8CFF92200EC3AC9CB730AFB4A0" Guid="2F756168-C3D0-4B71-8938-F811852F16D5">
                  <File Id="filADEEFB690DDB0D36850693447937A7C3" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridRectangular.hpp" />
                </Component>
                <Component Id="cmp79C93C3918A6328741B2C7F3BCED71FC" Guid="25DF0871-071A-4D40-BD59-F26D23935210">
                  <File Id="fil7DAD4E8B8D6167DA914F01BBAF8B7364" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridRefinement.hpp" />
                </Component>
                <Component Id="cmp39EC0C2C108397BD1E59AE7C5474B4FA" Guid="C590D069-0258-48C1-8B16-A38D8C1BED5E">
                  <File Id="fil06A833572A4983435CBA47133C3764BF" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridSmoothing.hpp" />
                </Component>
                <Component Id="cmp73F3FA2DED59EEA13FFED0D8E25A08A4" Guid="03E8179A-E6A8-48EF-B657-6D6199EC80AC">
                  <File Id="filF53F3B723829424C976BA253706B5902" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridSmoothness.hpp" />
                </Component>
                <Component Id="cmp207F5C7A801392B41D216A1682EEF0BD" Guid="BA03A791-39E2-4E71-B029-7D97E9266699">
                  <File Id="fil3781005AC0A5CACFA22006E5803B2743" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridSnapping.hpp" />
                </Component>
              </Directory>
              <Directory Id="dir9BA45E684767F7F746F3B1B00DDEB958" Name="Utilities">
                <Component Id="cmpE0FDFD68ABA637F9601B9AC85B737838" Guid="E4EA747E-4D49-4C31-BEDF-3ABC959ACE69">
                  <File Id="fil660D2700971EA4656269CF0AC13CB15B" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\LinearAlgebra.hpp" />
                </Component>
                <Component Id="cmp8429390F5F56C49A0722793E834E9A3F" Guid="042E136C-9E7D-4A4A-8D44-6F55355E6BEC">
                  <File Id="filE9761762208424FF975CE2E63DF659EA" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\NumericFunctions.hpp" />
                </Component>
                <Component Id="cmpBB3862893979C6699CB80484A7E3CB12" Guid="2A713446-A249-416B-A9D7-D0C1916CDED2">
                  <File Id="fil3ED261C1D14C5123166EFC36C36C090C" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\RTree.hpp" />
                </Component>
                <Component Id="cmp1BE8092AF0D7A94D8FF7A62D3F0927BF" Guid="F57599DB-2B09-4EFC-BAA4-147D8F222488">
                  <File Id="fil95617D35960BE7C1874B0F296FE40082" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\RTreeBase.hpp" />
                </Component>
                <Component Id="cmp113A98B2DCF1F9DEF865B5C5C40FCF09" Guid="E9780D3A-9982-4075-AFEC-B44CD242616E">
                  <File Id="fil509B45E87FE9C564B3A28B9CA2335297" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\RTreeFactory.hpp" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="dirF4388DDD0773A7CEAD8CACD599DCCF27" Name="MeshKernelApi">
              <Component Id="cmp313E67D464734BEEFC28F7FACCD0A8A9" Guid="2BF81E06-8E08-4396-BEED-A1A34694FCB8">
                <File Id="filD13B707FE21DCE833F27AF160F71754F" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Contacts.hpp" />
              </Component>
              <Component Id="cmpDF77634B9AB8989FE5A5623DEA498F8A" Guid="F8254A7F-B25D-467C-87AA-2BFF7D0B698D">
                <File Id="filC4E2BADF6549F8790C34179E9BBAE25D" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\CurvilinearGrid.hpp" />
              </Component>
              <Component Id="cmpF92486CA7D145D12E735098468C0CF6C" Guid="544649CB-0073-4AF1-9C08-53016B782F3B">
                <File Id="fil4B1AD336F95CC2088DB8D8859B362E91" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\GeometryList.hpp" />
              </Component>
              <Component Id="cmp89425D963274969AF0BD7DCF1F325E05" Guid="2A7E848A-E086-49EA-8C2D-AE472A41DBC5">
                <File Id="filBEF9D3DBADA0A4ED3576D29604239F34" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\GriddedSamples.hpp" />
              </Component>
              <Component Id="cmpD4A4C7FAF86F7A98088D54A4EE635AF5" Guid="D6239A6C-5588-4D45-A812-B319914E15E2">
                <File Id="fil06B58FD0C8686A2BC2AADB9713905B41" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Mesh1D.hpp" />
              </Component>
              <Component Id="cmpFF97E97FA11BC4EA0C3F26F89016B0D5" Guid="FF0E2CC1-6945-4F81-B5CF-0722177C8FEE">
                <File Id="fil4D5399CA018F293E249B1C38FBCEB50B" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Mesh2D.hpp" />
              </Component>
              <Component Id="cmp482DDDC110E3CD181AAE8272EFFAE571" Guid="815A11D5-7424-46BA-82A9-85118641B372">
                <File Id="filFB2239F62FD5447A62F32E83E903E194" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\MeshKernel.hpp" />
              </Component>
              <Component Id="cmp4FB1A5717CA143BB0AFA76346A823439" Guid="C29F9D99-BB58-468A-A37C-22096EE49BB0">
                <File Id="fil1023BDA1C423ADD34331373230C0A09C" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\State.hpp" />
              </Component>
              <Component Id="cmp5A92FE6B4D2723C5FF85607D0DF73DB6" Guid="142F70DC-9F44-4D06-922D-7E0FE5BBC27F">
                <File Id="fil2FC821BD755A9B88341562FFD2235E2F" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Utils.hpp" />
              </Component>
            </Directory>
            <Directory Id="dir611829BA73F5B7CAD837053B605EE35D" Name="Version">
              <Component Id="cmpDBB16EFAE7BB5BD81682351E7DAB8C4A" Guid="78459BAE-C825-4B92-BB09-75F2B3ABE641">
                <File Id="fil5D93E22F69A8ABB2F3C0CE8755D5E17E" KeyPath="yes" Source="meshkernel\include\Version\Version.hpp" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="dirAAA193B5A5015AADBAB7F9C7DDB27425" Name="lib">
            <Component Id="cmp03CD772CB82F66CC9B3B9A814A68BDD8" Guid="29689BFA-AC3E-4F8A-9035-667335BF9A69">
              <File Id="filDD1DC3D2B7223ECB8F2E13CC4258766E" KeyPath="yes" Source="meshkernel\lib\MeshKernel.lib" />
            </Component>
            <Component Id="cmp1887F4907424537FE6C06FD3609F2806" Guid="BBCAAFF8-89F3-443F-97AF-5F042F5EFF9B">
              <File Id="fil540546A295F259C93D1D03151A374241" KeyPath="yes" Source="meshkernel\lib\MeshKernelApi.lib" />
            </Component>
          </Directory>

        </Directory>
      </Directory>


      <!-- uninstall -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="meshkernel">
          <Component Id="ProgramMenuDir" Guid="89c51884-3f7b-4b4f-a8c6-0426aa31f512">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>


      <!-- ENV PATH -->
      <Component Id="meshkernel_to_path" Guid="4d5ebfc4-dab1-448a-8c9a-1cd558da924c">
        <Environment Id="meshkernel_to_path" Name="PATH" Value="[meshkernel_bin]" Permanent="no" Part="last" Action="set" System="no" />
      </Component>


      <!-- ENV MESHKERNEL_DIR -->
      <Component Id="ENV_MESHKERNEL_DIR" Guid="3f557e6a-5e97-40f4-92ba-3aa392c2d79d">
        <Environment Id="MESHKERNEL_DIR" Name="MESHKERNEL_DIR" Value="[INSTALLDIR]" Permanent="no" Part="all" Action="set" System="no" />
      </Component>

    </Directory>


    <Feature Id='Complete' Title='meshkernel' Description='The complete package.' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>

        <ComponentRef Id='cId_readme.txt1158be' />

        <ComponentRef Id="cmp81DF6E3D34F87B447F05F2A216D7690C" />
        <ComponentRef Id="cmp6D37E0BC9BC7EC792FABCDAA5ED8DFD8" />
        <ComponentRef Id="cmpC4BA1E9CEE4A56AEB48DFD855DBF0E9A" />
        <ComponentRef Id="cmp05A162193F10DE931414C1A8C82124D5" />
        <ComponentRef Id="cmpF5C48B4CAE9BDBBD8064F9A7F2F75820" />
        <ComponentRef Id="cmpD1586C8C11BD943EA86A8378C60C12C8" />
        <ComponentRef Id="cmp727B8FD2452677AC9B3DE9E23FA36EF5" />
        <ComponentRef Id="cmpD756AE078D842F38995ABCE61203E677" />
        <ComponentRef Id="cmpDE878AC6CA9D2DBB32C3C71259CC29C6" />
        <ComponentRef Id="cmp0D6640CD583376AEC71C23B90A3D4791" />
        <ComponentRef Id="cmp7C3C32B14C595F4ECEEF0F6DBDE2DBE5" />
        <ComponentRef Id="cmp04299DE8D359B514022B89B1B60A3095" />
        <ComponentRef Id="cmp208659C053D064D43802E1CC07474E47" />
        <ComponentRef Id="cmp50FB6B27D2E7A58E754701BAC5017152" />
        <ComponentRef Id="cmp135DC8E883798E8EDF4098CAF954D66E" />
        <ComponentRef Id="cmp8CA0C6EA6F2236AC6E543EE70B7F8916" />
        <ComponentRef Id="cmp9F29F612122A49F5DB702ADA4701133A" />
        <ComponentRef Id="cmp8171E1B15DE98190DB1B5661B9EB7178" />
        <ComponentRef Id="cmp4FC4E33C8C298CA68D5408A806006A70" />
        <ComponentRef Id="cmp8D927B13775357E446F130DF7136F243" />
        <ComponentRef Id="cmp3745A3CBF28C3C4A2A051F55F235EB82" />
        <ComponentRef Id="cmp272DE54FA9A6D13E33510CE565787E12" />
        <ComponentRef Id="cmp0CC0A4F80A5F7A4C91C0E8E5E264AB76" />
        <ComponentRef Id="cmpE62F3486005A907A7FA478124C2C81CF" />
        <ComponentRef Id="cmp751BBBAD16A795D03B1EC4C401B8DF52" />
        <ComponentRef Id="cmp76F7C68519E35827B771E19B146F8BC2" />
        <ComponentRef Id="cmp165D5AC63E262A3749203997BB7DB4D3" />
        <ComponentRef Id="cmpDAD5E85CBBEEA9C855712D6FEC0A0A90" />
        <ComponentRef Id="cmp47F2A6275B46DF84758CF9CABF84DCA8" />
        <ComponentRef Id="cmp96AAB0BC2C9800D8F4B2D698330440A1" />
        <ComponentRef Id="cmp09A2A1623902421B76EC4536EA3672BE" />
        <ComponentRef Id="cmpD179E447E5900BDB18586F2ABD567DA4" />
        <ComponentRef Id="cmp5D210BFC83AE854D64A567DE4E9CD0D1" />
        <ComponentRef Id="cmpA7BCD45504572382BE2C99536BC9B1C9" />
        <ComponentRef Id="cmpCBD3DA937C803D324EDBDC4C70EC9FBA" />
        <ComponentRef Id="cmp968958EB495FEC0A9B92C022AAD0F0EE" />
        <ComponentRef Id="cmp14652C3D3C50C49F6B0250A20E0E6121" />
        <ComponentRef Id="cmp859289C33FDAF2BC42FD39831A54256A" />
        <ComponentRef Id="cmp588CA4E1B7FC2C374382872304D2F31E" />
        <ComponentRef Id="cmpAFA60AFDAD9134C6C6EF902090D5E6AA" />
        <ComponentRef Id="cmp110BB5C53AF5A12D1E107B8DCC97FC75" />
        <ComponentRef Id="cmp790594B37A11BAECAA65167C28C8D7F2" />
        <ComponentRef Id="cmpB1DCE6A550D5048340D5D4DBD06BABDB" />
        <ComponentRef Id="cmpF1A6E54ED5FB430B1B8317676C102096" />
        <ComponentRef Id="cmp75A8BC5AF9DACE360B12C92FB8F44D07" />
        <ComponentRef Id="cmpD91F18E1A4DFCA1016A6859EC056CA28" />
        <ComponentRef Id="cmpAD1AD9563A21C64FE98D20B69737B321" />
        <ComponentRef Id="cmpD93DF18D278AB78A151D47E93C1064C3" />
        <ComponentRef Id="cmpBE4323DAEF6CC9C63D5ABDAFC4B69B34" />
        <ComponentRef Id="cmp4BAEBCA980E5179EE32098CDDEC9C76B" />
        <ComponentRef Id="cmp1283553E9E9113F139F72193F1E069E9" />
        <ComponentRef Id="cmpF13531B41E957ABE1B673FE5C5C154E1" />
        <ComponentRef Id="cmpAD9704F153A4E555763A3A3D0DC95847" />
        <ComponentRef Id="cmp220939C9B91BCF986C6B1E446238EDF8" />
        <ComponentRef Id="cmp09410FBE16D1C476C49D2017B1DC9CBB" />
        <ComponentRef Id="cmp7B87CF8035EF5C0FE14456C3B528E115" />
        <ComponentRef Id="cmp93E048F5039D65EAD9375E34C43169E8" />
        <ComponentRef Id="cmpD0288A2C69EA808CF28EACC1D676A511" />
        <ComponentRef Id="cmp1F788E60119F70594CEEDFEB4C40026A" />
        <ComponentRef Id="cmp00D909AF7B82E42884C972A14AADC232" />
        <ComponentRef Id="cmpDF923B28A4831D1A71B1F625DA25CBFD" />
        <ComponentRef Id="cmp84C03E75861C9E6E28E46E286FBEE5F8" />
        <ComponentRef Id="cmpEE8F8E45ABB6942BF1EEF6AF4E6E8063" />
        <ComponentRef Id="cmp2B8E06C5871D5A2E807B616A6979825B" />
        <ComponentRef Id="cmpCCBA2EF5B96EB6C6B029ADB1BE0C1E8F" />
        <ComponentRef Id="cmp865AD5CACB3EE3D263084553CFD0D645" />
        <ComponentRef Id="cmp714E8F8CFF92200EC3AC9CB730AFB4A0" />
        <ComponentRef Id="cmp79C93C3918A6328741B2C7F3BCED71FC" />
        <ComponentRef Id="cmp39EC0C2C108397BD1E59AE7C5474B4FA" />
        <ComponentRef Id="cmp73F3FA2DED59EEA13FFED0D8E25A08A4" />
        <ComponentRef Id="cmp207F5C7A801392B41D216A1682EEF0BD" />
        <ComponentRef Id="cmpE0FDFD68ABA637F9601B9AC85B737838" />
        <ComponentRef Id="cmp8429390F5F56C49A0722793E834E9A3F" />
        <ComponentRef Id="cmpBB3862893979C6699CB80484A7E3CB12" />
        <ComponentRef Id="cmp1BE8092AF0D7A94D8FF7A62D3F0927BF" />
        <ComponentRef Id="cmp113A98B2DCF1F9DEF865B5C5C40FCF09" />
        <ComponentRef Id="cmp313E67D464734BEEFC28F7FACCD0A8A9" />
        <ComponentRef Id="cmpDF77634B9AB8989FE5A5623DEA498F8A" />
        <ComponentRef Id="cmpF92486CA7D145D12E735098468C0CF6C" />
        <ComponentRef Id="cmp89425D963274969AF0BD7DCF1F325E05" />
        <ComponentRef Id="cmpD4A4C7FAF86F7A98088D54A4EE635AF5" />
        <ComponentRef Id="cmpFF97E97FA11BC4EA0C3F26F89016B0D5" />
        <ComponentRef Id="cmp482DDDC110E3CD181AAE8272EFFAE571" />
        <ComponentRef Id="cmp4FB1A5717CA143BB0AFA76346A823439" />
        <ComponentRef Id="cmp5A92FE6B4D2723C5FF85607D0DF73DB6" />
        <ComponentRef Id="cmpDBB16EFAE7BB5BD81682351E7DAB8C4A" />
        <ComponentRef Id="cmp03CD772CB82F66CC9B3B9A814A68BDD8" />
        <ComponentRef Id="cmp1887F4907424537FE6C06FD3609F2806" />

        <!-- Menu plus ENV -->
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ENV_MESHKERNEL_DIR' />
        <ComponentRef Id='meshkernel_to_path' />
      </Feature>
    </Feature>

    <!-- UI -->
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />

  </Product>
</Wix>
