<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='meshkernel' Id='c96503ef-bd13-4c4c-863a-2daa93d48aab' UpgradeCode='bb3bb63a-1887-4094-ab68-046240b888c8' Language='1033' Codepage='1252' Version='3.16.5' Manufacturer='Deltares'>

    <Package Id='*' Keywords='Installer' Description="meshkernel, Windows installer created by Deltares" Comments='Deltares copyright?' Manufacturer='Deltares' InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="meshkernel Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>

      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='MeshKernel'>

          <Component Id='cId_readme.txt1158be' Guid='1158be48-ddf7-4b11-9215-234b04485da9'>
            <File Id='fId_readme.txt1158be' Name='readme.txt' DiskId='1' Source='package\msi\meshkernel\readme.txt' KeyPath='yes' />
          </Component>

          <Directory Id="dir86FFEC96F085C4DACAED242019AC2960" Name="bin">
            <Component Id="cmpA46A85FE588D49B502C57F26FC33CC6D" Guid="317D33FF-64B9-4BDF-8647-F1138137BAE5">
              <File Id="fil6E25B21B8FE485FFA916CF044446DF42" KeyPath="yes" Source="meshkernel\bin\MeshKernelApi.dll" />
            </Component>
          </Directory>
          <Directory Id="dir8126D8FB19559CDC158DF15AD56D1418" Name="include">
            <Directory Id="dir539B589106B8F7804F4503C602D27670" Name="MeshKernel">
              <Component Id="cmpA33FE6F55D365228AE322B0501E84019" Guid="C6848E06-ED15-406D-B31F-AA8BD5627BBD">
                <File Id="fil1F03C3074526F6D3D28FBCC32C7476FE" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingInterpolation.hpp" />
              </Component>
              <Component Id="cmpDF722CEE38D77FC11E77DAA84AC0DA24" Guid="CE642917-684E-4649-A71B-8F1328D43458">
                <File Id="fil17EE2CB70850DF36923AF03FAAED0D76" KeyPath="yes" Source="meshkernel\include\MeshKernel\BilinearInterpolationOnGriddedSamples.hpp" />
              </Component>
              <Component Id="cmp9D66767375ABFA0C4318728AB3A9821F" Guid="56220F6E-173E-4F55-BCE6-6F874B4D4E25">
                <File Id="fil613B591283317A814135B5FD7D619CA3" KeyPath="yes" Source="meshkernel\include\MeshKernel\BoundingBox.hpp" />
              </Component>
              <Component Id="cmpB2C13CD3E1E8A7B1DA7E82382902D3C7" Guid="A0EC71BD-C093-4B60-96A7-E23B29B74B37">
                <File Id="filBF392A42DF13267C2AC17F110C7CA992" KeyPath="yes" Source="meshkernel\include\MeshKernel\ConnectMeshes.hpp" />
              </Component>
              <Component Id="cmpCAF58E7B16F8F762AB058C2ED68C50EE" Guid="D45BF0B6-94F3-426D-8673-735044B5EC99">
                <File Id="fil51B498B4D86BBB89105ABBA94A978354" KeyPath="yes" Source="meshkernel\include\MeshKernel\Constants.hpp" />
              </Component>
              <Component Id="cmp2ED791785B7432A010E12CADA56F9571" Guid="76821219-8073-4D1A-BA4E-89CD1DA2D634">
                <File Id="filF56C767BB45B4AF8595A22222CE6A1F9" KeyPath="yes" Source="meshkernel\include\MeshKernel\Contacts.hpp" />
              </Component>
              <Component Id="cmp160F93DBECA2BDE46797470E75DAFE7F" Guid="18698CA1-F201-422A-8D4D-9956F71326AD">
                <File Id="fil8B217CD2997D067E0678CEA111C05481" KeyPath="yes" Source="meshkernel\include\MeshKernel\Definitions.hpp" />
              </Component>
              <Component Id="cmpE1534E3DBCBCA43DD0BD03F71EB71428" Guid="B6BE34DA-A528-4D37-BEBE-E632C4E2204E">
                <File Id="fil86650219F730E5AB494230D251E4C7E3" KeyPath="yes" Source="meshkernel\include\MeshKernel\Entities.hpp" />
              </Component>
              <Component Id="cmp03D27B89953A0E9788F179ECEEFB1C50" Guid="488699CB-CC8F-4E7F-9D8F-2F02584DAAC4">
                <File Id="fil5DF5D783A6A7273A76720C3590BF505E" KeyPath="yes" Source="meshkernel\include\MeshKernel\Exceptions.hpp" />
              </Component>
              <Component Id="cmp1104353E7061812054689594406CAC4E" Guid="720EBAC9-9028-4B5D-B327-2CBF1C3E5E70">
                <File Id="fil604A3092CE5B3A3976C42899F1ED4C8C" KeyPath="yes" Source="meshkernel\include\MeshKernel\FlipEdges.hpp" />
              </Component>
              <Component Id="cmp10F3B88E09D62C5CE13A2BC44592DFF6" Guid="D9AEDD45-FE56-4B0E-983A-44B2B4426E39">
                <File Id="fil50502B340A1C91912B4931C5EDE02730" KeyPath="yes" Source="meshkernel\include\MeshKernel\Formatting.hpp" />
              </Component>
              <Component Id="cmpB68DE4150AD8B54CBE0FE8CE8CDB53D2" Guid="588B89A2-671A-49C4-9F02-D3787CAC8B27">
                <File Id="fil1E34793DD34647A76879837D6F05F91A" KeyPath="yes" Source="meshkernel\include\MeshKernel\LandBoundaries.hpp" />
              </Component>
              <Component Id="cmpB899FA8503C67F00E67A28D3A31CE8B2" Guid="274E3292-D6D5-49B8-BA85-70364C16B5C3">
                <File Id="fil2BFFFD2CF31CD6FFFF057A9462EB9AE2" KeyPath="yes" Source="meshkernel\include\MeshKernel\LandBoundary.hpp" />
              </Component>
              <Component Id="cmp60D257B08548E16946D26AAEF98610DD" Guid="035D712F-DE76-4490-8B21-D265F5324C7D">
                <File Id="filED7B173CD3BAEE911BCA1C9CEFB15652" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh.hpp" />
              </Component>
              <Component Id="cmp6B27A1EFD1D8DB27A217BF319D55EC61" Guid="56E77EE3-197D-465C-B9B2-9AB3DA6A1277">
                <File Id="fil0D228F325455943074871E76EAA9C8B7" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh1D.hpp" />
              </Component>
              <Component Id="cmpE4CD81C72326911EED37BFFE3157FBFD" Guid="264E75C6-4045-44E3-853B-A842266187CB">
                <File Id="fil36CA947531A6E18B9AFABC44F2B36E61" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh2D.hpp" />
              </Component>
              <Component Id="cmpDC21E12FA6857E37995488B15807924B" Guid="8CECC1DC-69AA-42D5-8CB4-6401DAE35B0E">
                <File Id="fil2E1A90FB8DFBB4A6B02EA24091B0493D" KeyPath="yes" Source="meshkernel\include\MeshKernel\Mesh2DIntersections.hpp" />
              </Component>
              <Component Id="cmp730A6145BFC3A6EB3A6A97379BB1521C" Guid="DEFF656E-837F-49E3-8A0E-3A7B40B8E88C">
                <File Id="fil8EA3F913BB4AF1BFC8956EDC5BE0F346" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshInterpolation.hpp" />
              </Component>
              <Component Id="cmp6EEACD8C0C56A4E80E2378F8B9613FD4" Guid="F63CEA4B-5511-404D-B94E-3E81BDB2EF7F">
                <File Id="fil2F611E15A8C7AA5A0551E87C9B9ADAD2" KeyPath="yes" Source="meshkernel\include\MeshKernel\MeshRefinement.hpp" />
              </Component>
              <Component Id="cmpB4BA75ECA0322D55629EA1B29705887C" Guid="5EDB8170-815D-4633-B716-12BAEF385B4B">
                <File Id="fil2F5B482F67D9F6A156F03C8EC4522888" KeyPath="yes" Source="meshkernel\include\MeshKernel\Network1D.hpp" />
              </Component>
              <Component Id="cmp22B5A8CD33E66DA41F4F4A997C7472E6" Guid="79A4ED41-B0C9-40D8-9E61-00E953CC763E">
                <File Id="fil7258A1DC7818CD1B7107F9A06346BD76" KeyPath="yes" Source="meshkernel\include\MeshKernel\Operations.hpp" />
              </Component>
              <Component Id="cmp0B34CBE6D0384650233592A534BB153C" Guid="F9B3A240-4694-4EC5-B9BC-25F2FBF4157E">
                <File Id="filA302D083966A14E3A9D1A020889C087E" KeyPath="yes" Source="meshkernel\include\MeshKernel\OrthogonalizationAndSmoothing.hpp" />
              </Component>
              <Component Id="cmpBE150BD84E571F14233AAA5B1CF4353F" Guid="6434B7CD-C7CB-4F61-9AD4-1CD1726B598E">
                <File Id="fil93F1091899ECCAD32F20F443597C18A3" KeyPath="yes" Source="meshkernel\include\MeshKernel\Orthogonalizer.hpp" />
              </Component>
              <Component Id="cmpF22254F3531F62C57E390F9AEF5FC62A" Guid="B7287359-57BA-4A47-903C-111654FAEA5E">
                <File Id="fil02D76A68E4FE7536294F92AB7AB1F2AA" KeyPath="yes" Source="meshkernel\include\MeshKernel\Parameters.hpp" />
              </Component>
              <Component Id="cmp3497863DF0AF2378F59E051F0BB215BE" Guid="3E84D009-3B22-499A-94ED-4ADA33BCB7F6">
                <File Id="filC93475267C4C8EE8718A0B392D8A6CD0" KeyPath="yes" Source="meshkernel\include\MeshKernel\Point.hpp" />
              </Component>
              <Component Id="cmp0A765A7A422030F1790B8522E662AC65" Guid="73B9E683-1D6B-4326-9D28-2A17BF727F72">
                <File Id="fil35E6BF7CE3C67675E08894A5FE96A630" KeyPath="yes" Source="meshkernel\include\MeshKernel\Polygon.hpp" />
              </Component>
              <Component Id="cmp05E7D565A5079187A0917B09B2DF77E7" Guid="4FCE93C8-F4BD-4FC6-81DB-C055C23096BD">
                <File Id="fil54B0421289609C4D4890D513B95C016B" KeyPath="yes" Source="meshkernel\include\MeshKernel\PolygonalEnclosure.hpp" />
              </Component>
              <Component Id="cmpFA07291C29473F84F9F55A295176B3BF" Guid="ABE37934-3E7D-40DD-9FD7-4FCB56C19356">
                <File Id="filB90897EAC2F29C7D3000C9392551E084" KeyPath="yes" Source="meshkernel\include\MeshKernel\Polygons.hpp" />
              </Component>
              <Component Id="cmpFFB2E011CC40D54F9F5A11C2146786BE" Guid="88076052-FA30-4F62-A4C7-D48E0CEC6494">
                <File Id="fil7C32E13C84132155771C8B74BF5AC64A" KeyPath="yes" Source="meshkernel\include\MeshKernel\RangeCheck.hpp" />
              </Component>
              <Component Id="cmp6765ABDE86E3D50A071C51D86754FF4A" Guid="B3DA6103-DB5E-4FB7-9919-334F7141CB15">
                <File Id="filE25A91889D96FD49D80DD65B32A870E8" KeyPath="yes" Source="meshkernel\include\MeshKernel\RemoveDisconnectedRegions.hpp" />
              </Component>
              <Component Id="cmp7A99D01B00C04D452606D52EE5555049" Guid="551C8FE7-1F2F-4ACA-8A84-6A7AFDB6E3C0">
                <File Id="fil5C56C41F86FE227A61CE44AD548FC073" KeyPath="yes" Source="meshkernel\include\MeshKernel\Smoother.hpp" />
              </Component>
              <Component Id="cmp8F9DFA9CCB9176DE2BCCEC288A3C7794" Guid="EC10EFF1-F493-47A3-8842-231356BD598C">
                <File Id="filF4F11B8E9E4F17188C930FFFB24D8BF5" KeyPath="yes" Source="meshkernel\include\MeshKernel\SplineAlgorithms.hpp" />
              </Component>
              <Component Id="cmp0F719243F1740E571C8099A51E292972" Guid="4FC97BE0-F581-49AB-A6D4-87F81E1E3B00">
                <File Id="fil4326095EC7AE8B0770F52C011B35CB18" KeyPath="yes" Source="meshkernel\include\MeshKernel\Splines.hpp" />
              </Component>
              <Component Id="cmpCA8B107A65C11F98B15860A3EF1A8B08" Guid="1A7AA256-8F0A-4F97-A895-DDDEA2BF3C10">
                <File Id="fil892057217EE4F45C593273FCCDEE6F10" KeyPath="yes" Source="meshkernel\include\MeshKernel\TriangulationInterpolation.hpp" />
              </Component>
              <Component Id="cmp03E347EFA79F6E722B6147F943132813" Guid="E8085E0F-0F88-4DC3-88F6-778D05E8579B">
                <File Id="fil854E475FABB9F481B6E9039DAA3B4DF1" KeyPath="yes" Source="meshkernel\include\MeshKernel\TriangulationWrapper.hpp" />
              </Component>
              <Component Id="cmp7AD0F0832A53910F96F21C9EE396834E" Guid="4274055A-1638-4785-996E-F47A4BF60809">
                <File Id="fil4043FB259E7992555165241EAF8528F1" KeyPath="yes" Source="meshkernel\include\MeshKernel\Vector.hpp" />
              </Component>
              <Directory Id="dirA3A5FCEA1596E4102D23E3BB5C8A8219" Name="AveragingStrategies">
                <Component Id="cmpF3527948FBFC35A3BFEF4ED3061CABCD" Guid="EF01C5F2-BAA8-400B-8DED-6ABB61BEE81A">
                  <File Id="fil4F80D30180D0315AE1FCADFD4A664EAF" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\AveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp033A01B7E080FDEDBDEF0EF778634531" Guid="9D43779A-6105-4E6D-9B4C-5A58FCFCC479">
                  <File Id="filBC563BA26150BB00FBF28F37F7F00B81" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\AveragingStrategyFactory.hpp" />
                </Component>
                <Component Id="cmpE36641702D8E5BFA8B54492DA988D5F9" Guid="541044B9-BD73-48C3-B629-E65D1666D319">
                  <File Id="fil4B47B87FA026A7A645BF7B8C9A0990D6" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\ClosestAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpEF06D8D554FFE8FA9EB985E6312E6342" Guid="C544EB87-4ED6-454D-A236-23E3E14678CF">
                  <File Id="filAB45F8D7810AAC7A851A91C24CD0DC22" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\InverseWeightedAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpDC9A0CF745B375C80B6999CD1666B70E" Guid="2DC71736-448F-4987-9738-04CA91D69EE8">
                  <File Id="fil7B25CCABF191EEEAFACDE368F2CC98D2" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MaxAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmpB2078128AAA5E07706CB27F2FC03A009" Guid="6D08FF75-DE4E-47AC-AE61-2E8B0835E8E8">
                  <File Id="fil7913877DE205D885D03D090929DE1557" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MinAbsAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp836A3DBAD66EA39761444A721A774516" Guid="3129EC5A-18D7-402D-873C-F58254EEE60D">
                  <File Id="fil70C3188A3B8964A4B0BA250A26B17C77" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\MinAveragingStrategy.hpp" />
                </Component>
                <Component Id="cmp4FB54CF5DBEA2BC578501E1B02184305" Guid="545E83AF-3A4E-41AB-ABC2-54B5BA92D49C">
                  <File Id="fil9DF8C54A34EFB9B90956F49B27E7CB98" KeyPath="yes" Source="meshkernel\include\MeshKernel\AveragingStrategies\SimpleAveragingStrategy.hpp" />
                </Component>
              </Directory>
              <Directory Id="dir23CFEB4BC49A9C18AEC90EAB8EEA498B" Name="CurvilinearGrid">
                <Component Id="cmpB907897E4418EF018A7E31BCA7DCF16F" Guid="CC096B1F-87A0-43C9-80E4-F06D231E2A28">
                  <File Id="filD0326DF85411231027E14A634190E3F8" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGrid.hpp" />
                </Component>
                <Component Id="cmpD4979C344523C628C0E0C7835DDF2383" Guid="795C9220-B1F5-4714-A2B8-E511A08BE2ED">
                  <File Id="filEBA3408169D0866A6B58FE92FC0FB203" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridAlgorithm.hpp" />
                </Component>
                <Component Id="cmp1F58936AE553416FE4689DBCC3732874" Guid="48F5E9D6-A761-4297-B31B-697A16148C1B">
                  <File Id="fil9CE5DC9B1CE921ED73672FF266C6EDC8" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridDeRefinement.hpp" />
                </Component>
                <Component Id="cmp8F4B4BE64793EE7C98D301C78A29EED5" Guid="962BC933-A8B1-43C6-896B-8F625922124C">
                  <File Id="filB15F1E50C43D42869E054E2E263A52DB" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromPolygon.hpp" />
                </Component>
                <Component Id="cmp6054F7D144E03BFA075F6C315E094FF6" Guid="B75D7CE4-CB30-460B-812A-750B836A2F72">
                  <File Id="fil88E353DE83359277ED266C22133DA1CE" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromSplines.hpp" />
                </Component>
                <Component Id="cmp51153BA7D3C2B3938A7353D833A0E3DD" Guid="0C0C36EF-9D42-4266-9946-A892F01AAA70">
                  <File Id="fil9DC9D9E2377B19B5EB6F706A4584CD36" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridFromSplinesTransfinite.hpp" />
                </Component>
                <Component Id="cmp8928488D81960C4EA7D7CA3AE393E50B" Guid="905C4B69-E2B3-4165-A6A6-AF075D852828">
                  <File Id="fil2A20E8BD105994E737AFE195041B6B4B" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLine.hpp" />
                </Component>
                <Component Id="cmp7413BDAA8D80AE8583EC77F6AB129185" Guid="F989CAC8-9F5F-4AE5-B66D-08671E0AA25C">
                  <File Id="fil4673C6CFBFBA40CEFDA06F34674933AB" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineAttractionRepulsion.hpp" />
                </Component>
                <Component Id="cmp2FC303F62DC05057642A7FA7833EB8D8" Guid="BAE7CFB7-8F6A-4658-B66C-EF44231B42AD">
                  <File Id="fil5916A8B856D547C6E1B57AED1CE3535E" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineMirror.hpp" />
                </Component>
                <Component Id="cmp8D4C0C4B7874A5C26B73092977F43263" Guid="744CA90B-4D8C-4A84-B560-029F323C9941">
                  <File Id="filBD26B2589DEE31630F1C8615C1E04E58" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridLineShift.hpp" />
                </Component>
                <Component Id="cmpE5C8D34B152B3A9F7850211616333C29" Guid="7275ED75-E3ED-4C4E-B643-7AA50ABDF0CA">
                  <File Id="filFE82DFED2054274A9D7E8BA6AED2F7B8" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridNodeIndices.hpp" />
                </Component>
                <Component Id="cmp6AEF9CD4F181261D844B00F5C659346D" Guid="7668AE13-98F4-45D4-B8FF-EA7C733FA358">
                  <File Id="fil60CDBAFF5651B3C6378D005F683DE13F" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridOrthogonalization.hpp" />
                </Component>
                <Component Id="cmpBDC6D2AC80181AC00F5C0DEC37901655" Guid="8C2129F6-1999-4E5D-AF77-067D4197C8EB">
                  <File Id="filDCA2930F1DF455D2B5FE8C46F4FBA591" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridRectangular.hpp" />
                </Component>
                <Component Id="cmpB86391990F8DF88C3BEEC564CC0B0D30" Guid="46C490FA-DA4E-431A-AF4D-C094953740BD">
                  <File Id="filB3F8E3A1F65E22499C3167EAA9CBCF90" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridRefinement.hpp" />
                </Component>
                <Component Id="cmpE9D439149DFE9295493442D4A5E5DB9F" Guid="35574C4C-398C-47D9-B653-7FBFA898865A">
                  <File Id="fil85CDAA39FA57794DC087F9FE64DE17AE" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridSmoothing.hpp" />
                </Component>
                <Component Id="cmp285DEC29213448A902EDFC5FA1A58CCC" Guid="1A1BFE23-EABD-406B-89E5-CD08B9C2005E">
                  <File Id="fil8B0C49055C165E1EE13D17224FCEC4C7" KeyPath="yes" Source="meshkernel\include\MeshKernel\CurvilinearGrid\CurvilinearGridSnapping.hpp" />
                </Component>
              </Directory>
              <Directory Id="dir4CCBE94879419B01F2F8DC4BB7DADEC1" Name="Utilities">
                <Component Id="cmpC9ED58930B84388E95C57DB2FF994AA1" Guid="2E8C3C8B-45D0-4C44-90B4-8FF3899D6753">
                  <File Id="fil71A6616DD1B3527D1B362A17664C9408" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\LinearAlgebra.hpp" />
                </Component>
                <Component Id="cmp0581C2BBDCE885462F80CB27B6286608" Guid="7E22E92B-9DE1-48E6-A5B5-9193D44DEBC4">
                  <File Id="fil6E8F5754FFD03B9567EB1680AF6A45BF" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\NumericFunctions.hpp" />
                </Component>
                <Component Id="cmp621E30D0978E7F46F1276D7771FFB60F" Guid="8E738386-8394-4A71-8196-BCCF7B3CD6EF">
                  <File Id="fil1535D02ABE3906D5C9D032C4680D21EC" KeyPath="yes" Source="meshkernel\include\MeshKernel\Utilities\RTree.hpp" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="dir01B227EE1813F50FDED7D18026E0469A" Name="MeshKernelApi">
              <Component Id="cmp54BC0C372E8DD0C58C4B831F0AF19CFD" Guid="D11A6BEC-327E-4D46-B859-7EFA3BB26FA1">
                <File Id="fil8CCD8EB3769D29539A5C1CDBEAA0AFF3" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Contacts.hpp" />
              </Component>
              <Component Id="cmpFF37B22DA5A608F72CDD77241527436F" Guid="F3D563F4-6B99-4B0B-88E8-187CC606D8B6">
                <File Id="filE2EF9205FB452F38AE27BA84D168E80C" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\CurvilinearGrid.hpp" />
              </Component>
              <Component Id="cmp18EC53651C4E39B0AA6BF01A046FD126" Guid="A17988D6-F06C-489E-9348-A894A6DBF922">
                <File Id="filFD4DA680527CF9218D8F30AA1FA570BA" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\GeometryList.hpp" />
              </Component>
              <Component Id="cmp82FC5B1ADEFD6AD5D58F5815A0872237" Guid="6FED5241-65B3-45FE-ACD0-820C400A746E">
                <File Id="fil59CE8F8EEA84FE9695A476A65949557B" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\GriddedSamples.hpp" />
              </Component>
              <Component Id="cmp7E2E665570A53CABDCA83C52015A46D1" Guid="8A8BF39A-04E1-4049-873D-10D454B3DD71">
                <File Id="filEC43FEEF3072D4B96618CAAE6F16A57E" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Mesh1D.hpp" />
              </Component>
              <Component Id="cmpCD70FB6FF8600CC5C7A41E36ACB11A41" Guid="2C7C42C2-8F4C-4402-87BA-6234CB2BB873">
                <File Id="fil4ACF675308363E917BB095991FDE5928" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Mesh2D.hpp" />
              </Component>
              <Component Id="cmp81448812E2AF01D00C1D20F9C2598E7F" Guid="F6DA6607-5403-4128-AA60-1DA9E0EBEAA5">
                <File Id="fil84F1726D99DDD86350C7CF410F043EAC" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\MeshKernel.hpp" />
              </Component>
              <Component Id="cmp55922D4B5B602E27B077C3FD4B41E740" Guid="13ED1051-96A3-481C-A2E2-C628B1F6F7BF">
                <File Id="filCBB3FCF42CC7D478EB49134D7FED8D8E" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\State.hpp" />
              </Component>
              <Component Id="cmpE8F685607421A7D7BE7F23A6DCD5E56C" Guid="359BA986-62BD-4A47-A370-25E1A9A9B3AA">
                <File Id="fil674B5928722D51E2BB4C35BFC4299F9D" KeyPath="yes" Source="meshkernel\include\MeshKernelApi\Utils.hpp" />
              </Component>
            </Directory>
            <Directory Id="dir23352FECA9085F891E6638B099825CC2" Name="Version">
              <Component Id="cmp0DA6C5DC100F5F273C179B7629385E77" Guid="78558543-7A61-4E04-B813-6AA7445F5C85">
                <File Id="fil6D3A1301627B9AF22B6D04BD2CCCF03B" KeyPath="yes" Source="tools\Version\Version.hpp" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="dir8D007A0B564F5A5CA8980256CBD49B4B" Name="lib">
            <Component Id="cmpA33DB2A1E5E3165A99D9764984A60891" Guid="4D8F4CED-FECA-4A59-A67A-15F0E8154920">
              <File Id="filEE829EAB0B2F2C6BE2F4AA07B2E22CDF" KeyPath="yes" Source="meshkernel\lib\MeshKernel.lib" />
            </Component>
            <Component Id="cmpD8D20E522861F9C0BE849875F314E5C8" Guid="13B2C0B8-E05D-472E-8FFF-B9854AB8AA58">
              <File Id="filC591DFFB1EFBC9AD0480DDA75CA4205D" KeyPath="yes" Source="meshkernel\lib\MeshKernelApi.lib" />
            </Component>
          </Directory>

        </Directory>
      </Directory>


      <!-- uninstall -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="meshkernel">
          <Component Id="ProgramMenuDir" Guid="89c51884-3f7b-4b4f-a8c6-0426aa31f512">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>


      <!-- ENV PATH -->
      <Component Id="meshkernel_to_path" Guid="4d5ebfc4-dab1-448a-8c9a-1cd558da924c">
        <Environment Id="meshkernel_to_path" Name="PATH" Value="[meshkernel_bin]" Permanent="no" Part="last" Action="set" System="no" />
      </Component>


      <!-- ENV MESHKERNEL_DIR -->
      <Component Id="ENV_MESHKERNEL_DIR" Guid="3f557e6a-5e97-40f4-92ba-3aa392c2d79d">
        <Environment Id="MESHKERNEL_DIR" Name="MESHKERNEL_DIR" Value="[INSTALLDIR]" Permanent="no" Part="all" Action="set" System="no" />
      </Component>

    </Directory>


    <Feature Id='Complete' Title='meshkernel' Description='The complete package.' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>

        <ComponentRef Id='cId_readme.txt1158be' />

        <ComponentRef Id="cmpA46A85FE588D49B502C57F26FC33CC6D" />
        <ComponentRef Id="cmpA33FE6F55D365228AE322B0501E84019" />
        <ComponentRef Id="cmpDF722CEE38D77FC11E77DAA84AC0DA24" />
        <ComponentRef Id="cmp9D66767375ABFA0C4318728AB3A9821F" />
        <ComponentRef Id="cmpB2C13CD3E1E8A7B1DA7E82382902D3C7" />
        <ComponentRef Id="cmpCAF58E7B16F8F762AB058C2ED68C50EE" />
        <ComponentRef Id="cmp2ED791785B7432A010E12CADA56F9571" />
        <ComponentRef Id="cmp160F93DBECA2BDE46797470E75DAFE7F" />
        <ComponentRef Id="cmpE1534E3DBCBCA43DD0BD03F71EB71428" />
        <ComponentRef Id="cmp03D27B89953A0E9788F179ECEEFB1C50" />
        <ComponentRef Id="cmp1104353E7061812054689594406CAC4E" />
        <ComponentRef Id="cmp10F3B88E09D62C5CE13A2BC44592DFF6" />
        <ComponentRef Id="cmpB68DE4150AD8B54CBE0FE8CE8CDB53D2" />
        <ComponentRef Id="cmpB899FA8503C67F00E67A28D3A31CE8B2" />
        <ComponentRef Id="cmp60D257B08548E16946D26AAEF98610DD" />
        <ComponentRef Id="cmp6B27A1EFD1D8DB27A217BF319D55EC61" />
        <ComponentRef Id="cmpE4CD81C72326911EED37BFFE3157FBFD" />
        <ComponentRef Id="cmpDC21E12FA6857E37995488B15807924B" />
        <ComponentRef Id="cmp730A6145BFC3A6EB3A6A97379BB1521C" />
        <ComponentRef Id="cmp6EEACD8C0C56A4E80E2378F8B9613FD4" />
        <ComponentRef Id="cmpB4BA75ECA0322D55629EA1B29705887C" />
        <ComponentRef Id="cmp22B5A8CD33E66DA41F4F4A997C7472E6" />
        <ComponentRef Id="cmp0B34CBE6D0384650233592A534BB153C" />
        <ComponentRef Id="cmpBE150BD84E571F14233AAA5B1CF4353F" />
        <ComponentRef Id="cmpF22254F3531F62C57E390F9AEF5FC62A" />
        <ComponentRef Id="cmp3497863DF0AF2378F59E051F0BB215BE" />
        <ComponentRef Id="cmp0A765A7A422030F1790B8522E662AC65" />
        <ComponentRef Id="cmp05E7D565A5079187A0917B09B2DF77E7" />
        <ComponentRef Id="cmpFA07291C29473F84F9F55A295176B3BF" />
        <ComponentRef Id="cmpFFB2E011CC40D54F9F5A11C2146786BE" />
        <ComponentRef Id="cmp6765ABDE86E3D50A071C51D86754FF4A" />
        <ComponentRef Id="cmp7A99D01B00C04D452606D52EE5555049" />
        <ComponentRef Id="cmp8F9DFA9CCB9176DE2BCCEC288A3C7794" />
        <ComponentRef Id="cmp0F719243F1740E571C8099A51E292972" />
        <ComponentRef Id="cmpCA8B107A65C11F98B15860A3EF1A8B08" />
        <ComponentRef Id="cmp03E347EFA79F6E722B6147F943132813" />
        <ComponentRef Id="cmp7AD0F0832A53910F96F21C9EE396834E" />
        <ComponentRef Id="cmpF3527948FBFC35A3BFEF4ED3061CABCD" />
        <ComponentRef Id="cmp033A01B7E080FDEDBDEF0EF778634531" />
        <ComponentRef Id="cmpE36641702D8E5BFA8B54492DA988D5F9" />
        <ComponentRef Id="cmpEF06D8D554FFE8FA9EB985E6312E6342" />
        <ComponentRef Id="cmpDC9A0CF745B375C80B6999CD1666B70E" />
        <ComponentRef Id="cmpB2078128AAA5E07706CB27F2FC03A009" />
        <ComponentRef Id="cmp836A3DBAD66EA39761444A721A774516" />
        <ComponentRef Id="cmp4FB54CF5DBEA2BC578501E1B02184305" />
        <ComponentRef Id="cmpB907897E4418EF018A7E31BCA7DCF16F" />
        <ComponentRef Id="cmpD4979C344523C628C0E0C7835DDF2383" />
        <ComponentRef Id="cmp1F58936AE553416FE4689DBCC3732874" />
        <ComponentRef Id="cmp8F4B4BE64793EE7C98D301C78A29EED5" />
        <ComponentRef Id="cmp6054F7D144E03BFA075F6C315E094FF6" />
        <ComponentRef Id="cmp51153BA7D3C2B3938A7353D833A0E3DD" />
        <ComponentRef Id="cmp8928488D81960C4EA7D7CA3AE393E50B" />
        <ComponentRef Id="cmp7413BDAA8D80AE8583EC77F6AB129185" />
        <ComponentRef Id="cmp2FC303F62DC05057642A7FA7833EB8D8" />
        <ComponentRef Id="cmp8D4C0C4B7874A5C26B73092977F43263" />
        <ComponentRef Id="cmpE5C8D34B152B3A9F7850211616333C29" />
        <ComponentRef Id="cmp6AEF9CD4F181261D844B00F5C659346D" />
        <ComponentRef Id="cmpBDC6D2AC80181AC00F5C0DEC37901655" />
        <ComponentRef Id="cmpB86391990F8DF88C3BEEC564CC0B0D30" />
        <ComponentRef Id="cmpE9D439149DFE9295493442D4A5E5DB9F" />
        <ComponentRef Id="cmp285DEC29213448A902EDFC5FA1A58CCC" />
        <ComponentRef Id="cmpC9ED58930B84388E95C57DB2FF994AA1" />
        <ComponentRef Id="cmp0581C2BBDCE885462F80CB27B6286608" />
        <ComponentRef Id="cmp621E30D0978E7F46F1276D7771FFB60F" />
        <ComponentRef Id="cmp54BC0C372E8DD0C58C4B831F0AF19CFD" />
        <ComponentRef Id="cmpFF37B22DA5A608F72CDD77241527436F" />
        <ComponentRef Id="cmp18EC53651C4E39B0AA6BF01A046FD126" />
        <ComponentRef Id="cmp82FC5B1ADEFD6AD5D58F5815A0872237" />
        <ComponentRef Id="cmp7E2E665570A53CABDCA83C52015A46D1" />
        <ComponentRef Id="cmpCD70FB6FF8600CC5C7A41E36ACB11A41" />
        <ComponentRef Id="cmp81448812E2AF01D00C1D20F9C2598E7F" />
        <ComponentRef Id="cmp55922D4B5B602E27B077C3FD4B41E740" />
        <ComponentRef Id="cmpE8F685607421A7D7BE7F23A6DCD5E56C" />
        <ComponentRef Id="cmp0DA6C5DC100F5F273C179B7629385E77" />
        <ComponentRef Id="cmpA33DB2A1E5E3165A99D9764984A60891" />
        <ComponentRef Id="cmpD8D20E522861F9C0BE849875F314E5C8" />

        <!-- Menu plus ENV -->
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ENV_MESHKERNEL_DIR' />
        <ComponentRef Id='meshkernel_to_path' />
      </Feature>
    </Feature>

    <!-- UI -->
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />

  </Product>
</Wix>
