name: DoxygenDeploy

on:
  push:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install doxygen
        run: sudo apt-get install doxygen

      - name: Run doxygen
        run: python3 scripts/doxygen_ci.py

      - name: Deploy to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs/html
