name: Codespell

on:
  push:
    branches: [master]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-24.04
    name: Codespell Check
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          skip: tests,extern,build,.git,.gitignore,*.tif,*.ppt,*.pdf,*.jpg,*.cd
